* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #131921;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    display: flex;
    gap: 25px;
    padding: 40px;
    justify-content: center;
    background-color: #eaeded;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card button {
    background-color: #ffd814;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.card button:hover {
    background-color: #f7ca00;
}

.expensive {
    border-left: 5px solid #b12704;
    background-color: #fff5f5;
}

.subtotal {
    font-weight: bold;
    color: #b12704;
}


.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 12px 0;
    padding: 10px;
    border-radius: 6px;
    background: #f9f9f9;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.cart-details {
    flex: 1;
}

.cart-controls {
    display: flex;
    align-items: center;
}

.qty-btn {
    padding: 4px 8px;
    margin: 0 6px;
    cursor: pointer;
}

.expensive {
    border-left: 5px solid #b12704;
    background-color: #b64949;
}

.subtotal {
    font-weight: bold;
    color: #b12704;
}

.affordable {
    border-left: 5px solid #03fd84;
    background-color: #4ebe6a;
}
